{% extends 'base.html' %}
{% block content %}
<!-- Your content goes here -->


<div class="page-heading">
    <h3>Dashboard</h3>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body px-3 py-5 h-5 text-center">
                            <h1 class="font-extrabold mb-0">Welcome to Aplikasi Analisis Sentimen Berbasis
                                Website</h1>
                        </div>
                        <p>
                            Cara menggunakan aplikasi : <br>
                            1. Copy link ID Genshin Impact, https://play.google.com/store/apps/details?id=com.miHoYo.GenshinImpact&hl=en <br>
                            2. Pilih yang bagian ID saja, com.miHoYo.GenshinImpact <br>
                            3. Masuk ke menu Form Scrapping <br>
                            4. Setelah selesai proses, kita bisa melihat perbandingan untuk data training & testingnya <br>
                            5. Setelah itu, masuk ke menu Proses Naive Bayes untuk melakukan analisa
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
{% endblock %}