{% extends 'base.html' %}
{% block content %}
<!-- Your content goes here -->


<div class="page-heading">
    <h3>Analisis Sentimen Dengan Algoritma Naive Bayes Menggunakan Metode K-Fold Cross Validation</h3>
</div>
<div class="page-content">
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Data Training</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <table class="table table-striped" id="table1">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Content</th>
                                        <th>Label</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for index, row in data.iterrows() %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ row['content'] }}</td>
                                        <td>{{ row['label'] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="{{ url_for('static', filename='vendors/simple-datatables/simple-datatables.js') }}"></script>
<script>
    // Simple Datatable
    let table1 = document.querySelector('#table1');
    let dataTable = new simpleDatatables.DataTable(table1);
</script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
